= simple_form_for(@measurement, html: { class: "form form-horizontal validate-form" }) do |f|
  %fieldset
    .col-sm-3
      .box
        .lead.text-grass-green
          %i.icon-shopping-cart
          = @measurement.model_name.human
        %small.text-muted
          Uzupełnij wartości odżywcze w 100g produktu.

    .col-sm-6
      = f.input :name, collection: Measurement::NAMES
      = f.association :product
      = f.input :weight, wrapper: :horizontal_input_group do
        = f.input_field :weight, class: 'form-control', "data-rule-required": true, "data-rule-number": true
        %span.input-group-addon gram
  .col-sm-3
  .form-actions
    .row
      .col-sm-7.col-sm-offset-4
        = f.submit nil,class: 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), measurements_path, :class => 'btn btn-default'
