- content_for :page_header do
  =t '.title', :default => Measurement.model_name.human.titleize

%p
  %strong= Measurement.human_attribute_name(:name) + ':'
  %br
  = @measurement.name
%p
  %strong= Measurement.human_attribute_name(:product_id) + ':'
  %br
  = @measurement.product_id
%p
  %strong= Measurement.human_attribute_name(:ratio) + ':'
  %br
  = @measurement.ratio


= link_to t('.back', :default => t("helpers.links.back")), measurements_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_measurement_path(@measurement), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), measurement_path(@measurement), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
