%p#notice= notice

%p
  %b Name:
  = @measurement.name
%p
  %b Product:
  = @measurement.product
%p
  %b Weight:
  = @measurement.weight

= link_to 'Edit', edit_measurement_path(@measurement)
\|
= link_to 'Back', measurements_path
