= simple_form_for @product, html: { class: "form form-horizontal product validate-form" } do |f|

  %fieldset
    .col-sm-6.col-sm-offset-1
      = f.input :name, input_html: {"data-rule-required": true}
      = f.input :standard_measure, wrapper: :horizontal_input_group do
        = f.input_field :standard_measure, class: 'form-control', "data-rule-required": true, "data-rule-number": true
        %span.input-group-addon gram
      = f.input :calories, wrapper: :horizontal_input_group do
        = f.input_field :calories, class: 'form-control', "data-rule-required": true, "data-rule-number": true
        %span.input-group-addon kcal
      = f.input :carbohydrate, wrapper: :horizontal_input_group do
        = f.input_field :carbohydrate, class: 'form-control', "data-rule-number": true
        %span.input-group-addon gram
      = f.input :protein, wrapper: :horizontal_input_group do
        = f.input_field :protein, class: 'form-control', "data-rule-number": true
        %span.input-group-addon gram
      = f.input :fat, wrapper: :horizontal_input_group do
        = f.input_field :fat, class: 'form-control', "data-rule-number": true
        %span.input-group-addon gram
      = f.input :roughage, wrapper: :horizontal_input_group do
        = f.input_field :roughage, class: 'form-control', "data-rule-number": true
        %span.input-group-addon gram

    .col-sm-4.col-sm-offset-1
      .box
        .lead.text-grass-green
          %i.icon-shopping-cart
          Product
        %small.text-muted
          Uzupełnij wartości odżywcze
  .form-actions
    .row
      .col-sm-7.col-sm-offset-4
        = f.submit nil,class: 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn btn-default'