= simple_form_for @product, html: { class: "form form-horizontal product validate-form" } do |f|
  = f.error_notification
  %fieldset
    .col-sm-3
      .box
        .lead.text-grass-green
          %i.icon-shopping-cart
          = @product.model_name.human
        %small.text-muted
          Uzupełnij wartości odżywcze w 100g produktu.

    .col-sm-6
      = f.input :name, input_html: {"data-rule-required": true}
      = f.input :calories, wrapper: :horizontal_input_group do
        = f.input_field :calories, class: 'form-control', "data-rule-required": true, "data-rule-number": true
        %span.input-group-addon kcal
      = f.input :carbohydrate, wrapper: :horizontal_input_group do
        = f.input_field :carbohydrate, class: 'form-control', "data-rule-number": true
        %span.input-group-addon gram
      = f.input :protein, wrapper: :horizontal_input_group do
        = f.input_field :protein, class: 'form-control', "data-rule-number": true
        %span.input-group-addon gram
      = f.input :fat, wrapper: :horizontal_input_group do
        = f.input_field :fat, class: 'form-control', "data-rule-number": true
        %span.input-group-addon gram
      = f.input :roughage, wrapper: :horizontal_input_group do
        = f.input_field :roughage, class: 'form-control', "data-rule-number": true
        %span.input-group-addon gram
  %hr.hr-normal
  %fieldset
    .col-sm-3
      .box
        .lead.text-grass-green
          %i.icon-tasks
          = Measurement.model_name.human(count: 2)
        %small.text-muted
          Ustaw różne wartości miar
    .col-sm-9
      #measurements
        = f.simple_fields_for :measurements do |m|
          = render 'measurement_fields', f: m
        = link_to_add_association f, :measurements, {class: 'btn btn-xs btn-primary'} do
          %i.icon-plus
          = t('.new', :default => t("helpers.links.new"))


  .col-sm-3
  .form-actions
    .row
      .col-sm-7.col-sm-offset-4
        = f.submit nil,class: 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn btn-default'