%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Standard measure
      %th Calories
      %th Carbohydrate
      %th Protein
      %th Fat
      %th Roughage
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.standard_measure
        %td= product.calories
        %td= product.carbohydrate
        %td= product.protein
        %td= product.fat
        %td= product.roughage
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
