%header
  %nav.navbar.navbar-default

    / application logo
    %a.navbar-brand{:href => "#{root_path}"}
      / application logo visible on large screens
      = image_tag "flatty/logo.svg", class: "logo", width: '81', height: '21', alt: "Flatty"
      / application logo visible on small screens
      = image_tag "flatty/logo_xs.svg", class: "logo-xs", width: '21', height: '21', alt: "Flatty"


    / main nav toggler (show/hide)
    %a.toggle-nav.btn.pull-left{href: "#"}
      %i.icon-reorder

    / dropdowns
    %ul.nav
      / dark dropdown & user menu
      %li.dropdown.dark.user-menu
        %a.dropdown-toggle{:'data-toggle' => "dropdown", href: "#"}
          %span.user-name
            = current_user.email
          %b.caret

        %ul.dropdown-menu
          %li
            = link_to destroy_user_session_path, :method => :delete do
              %i.icon-signout
              Wyloguj
