#main-nav-bg
%nav#main-nav
  .navigation

    / navigation items
    %ul.nav.nav-stacked

      / single navigation item
      %li{class: "#{'active' if controller_name.to_sym.in?([:products])}"}
        = link_to products_path do
          %i.icon-shopping-cart
          %span
            = Product.model_name.human(count: 2).titleize

      %li{class: "#{'active' if controller_name.to_sym.in?([:dishes])}"}
        = link_to dishes_path do
          %i.icon-food
          %span
            = Dish.model_name.human(count: 2).titleize

      %li{class: "#{'active' if controller_name.to_sym.in?([:measurements])}"}
        = link_to measurements_path do
          %i.icon-tasks
          %span
            = Measurement.model_name.human(count: 2).titleize

      %li{class: "#{'active' if controller_name.to_sym.in?([:ingredients])}"}
        = link_to ingredients_path do
          %i.icon-sitemap
          %span
            = Ingredient.model_name.human(count: 2).titleize
